.div-entire-tbl {
                z-index: 1;
                left: 38px;
                top: 122px;
                position: absolute;
                height: 512px;
                width: 1255px;
                background-size: contain;
          }
          .div-entire-tbl2 {
                height: 100%;
                background: rgba(255,255,255,0.8);
                /*opacity: 0.5;*/
          } 
          .tbl-money-report {
                width: 100%;
                border-collapse: collapse;
          }
          .td-blank1 {
                width: 189px;
                height: 24px;           
          }
          .td-blank2 {
                width: 163px;
                height: 24px;
          }
          .td-btn-start-send {
                height: 49px;
                width: 163px;
          }
          .td-lbl-total-number {
                height: 30px;
                width: 303px;
          }
          .td-blank-grid {
                width: 303px;
                height: 24px;
                border: 1px solid black;
          }
          .td-cards-cnt-climp {
                width: 163px;
                height: 24px;
                border: 1px solid black;
          }
          .td-number-climp_taxin-amount_taxin {
                width: 303px;
                height: 24px;
                border: 1px solid black;
          }
          .td-amount-climp-Notax {
                width: 303px;
                height: 24px;
                border: 1px solid black;
                background-color: #FFCCCC;
          }
          .td-cash-climp-NOtax {
                width: 163px;
                height: 24px;
                border: 1px solid black;
                background-color: #FFCCCC;
          }
          .td-lbl-discount-amount-sales_calculate {
                width: 163px;
                height: 43px;
          }
          .td-cash-sales-total {
                width: 303px;
                height: 43px;
          }
          .td-bank-deposit {
                border-bottom: 1px solid black;
          }  
          .td-lbl-cash-total {
                width: 163px;
                height: 43px;
          } 
          .lbl-font-common {
                font-family: "Meiryo UI";
          }
          .td-xlarge-font {
                font-size: x-large;
                font-family: "Meiryo UI";
          }
          .td-large-font {
                font-family: "Meiryo UI";
                font-size: large;
          }
          .btn-img-strat-send {
                width: 83px;
                height: 29px;
                font-family: "Meiryo UI";
            }  