.div-imgs-buttons {
            height: 53px;
            background-color: #D8D8D8;
            width: 1330px;
            margin-left: 0px;
        }
        .tabel-EntirePage {
            width: 1330px;
            height: 51px;
        }
        .div-btn-images {
            text-align: center;
        }
        .td-img-btns {
            width: 190px;
            padding-left:0px;
            padding-right:0px;
        }
        .tabel-Menus {
            width: 291px;
            height: 39px;
            border-collapse: collapse;
            border-spacing: 0;
        }
            .td-btnHome {
                width: 179px;
            }
            .td-img2-lblUser {
                width: 455px;
            }
            .td-img1-lblShipname {
                width: 341px;
            }
            .body-EntirePage{
                width: 1330px;
            }
            .btnHome-img-1-2{
                Height:36px; 
                Width:36px;
            }
            .btn-logoff{
                Height:36px; 
                Width:34px;
            }
            .Panel{
               Height:47px;
            }