 .div-EntirePage {
            height: 53px;
            background-color: #D8D8D8;
            width: 1330px;
        }
        .tabel-EntirePage {
            width: 1330px;
            margin-top:auto;
            height: 51px;
        }
        .auto-style132 {
                width: 181px;
        }
        .body-EntirePage{
            width: 1330px;
        }
        .img-btnhome-img-2-btnlogoff{
            Height:36px; 
            Width:36px;
        }