<?xml version="1.0" encoding="utf-8"?>

<!-- web.config 変換の使用方法の詳細については、https://go.microsoft.com/fwlink/?LinkId=125889 を参照してください -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <add name="cnstr" connectionString="Data Source=192.168.101.101\SQLEXPRESS,57334;Initial Catalog=Ganges;User ID=test;Password=hogehoge;Integrated Security=False;" />
  </connectionStrings>
  <system.web>
      <customErrors mode="Off" xdt:Transform="Insert"/>
          <!--セッションタイムアウト設定-->
          <sessionState timeout="1" />
  </system.web>
</configuration>